<div class="containerContact">
    <h1>Puedes contactarme por los diferentes medios!</h1>
    <br>
    <br>
    <h2>Instagram - facundo_benitez98</h2>
    <br>
    <br>
    <h2>Linkedin - Facundo Benitez</h2>
    <br>
    <br>
    <h2>Gmail - facu.cr9@gmail.com</h2>
    <br>
    <br>
    <h3>Gracias por visitarme!!</h3>
    




    <!-- AQUI ESTA EL SLIDER PERO LO VAMOS A COMENTAR PARA TRABAJAR CON VIEWCHILD -->

    <!-- <h2>Tamaño del slider</h2>
    <input type="number" [(ngModel)]="widthSlider"/>
    <button (click)="cargarSlider()">Cargar fotos</button>
    <button (click)="resetearSlider()">Resetear fotos</button>

    <div *ngIf="anchuraToSlider">
        
        <slider [anchura]="anchuraToSlider" (conseguirAutor)="getAutor($event)">
            
        </slider>
    </div> -->

    <!-- {{autor.nombre}} una lastima que si pueda ver el autor por consola pero no imprimirlo por pantalla sin que me arroje errores-->

</div>


<!-- slider es mi componente hijo y contact es mi componente padre  -->
