<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Mi nombre es Facundo Benitez y soy de Argentina, me motiva mucho seguir aprendiendo temas sobre tecnologia, programando me di cuenta que
        de esto es de lo que me gustaria vivir. Hoy en dia estoy capacitandome en React que es por donde quiero continuar y mantenerme por mucho 
        tiempo mejorando mis habilidades y perfeccionandome. Tambien me llama mucho la atencion el mundo Blockchain, metaverso, y criptomonedas, 
        ya que en un futuro no muy lejano todas esas tecnologias se convertiran en cotidianas para nosotros. La verdad que el mundo de la tecnologia
        es muy amplio y emocionante, por eso es que decido quedarme dentro de este mundo asi poder aprender, mejorar y desarrollarme como persona y como
        profesional. Gracias por visitarnos!!

    </p>
</article>
