<!-- Vista de mi seccion create proyect  -->
<div class="container" *ngIf="project">
    <h2>{{title}}</h2>
    <!-- divs para confirmar si se creo o no el nuevo proyecto (documento) -->
    <div class="message succes" *ngIf="status == 'succes'">
        El proyecto se ha creado exitosamente, puedes <a [routerLink]="['/proyecto', save_project._id]">verlo aqui</a>
    </div>
    <div class="message succes" *ngIf="status == 'failed'">
        El proyecto no se ha podido crear
    </div>

    <!--Formulario que metera datos a la base de datos-->
    <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
        <p>
            <label for="name">Nombre</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="project.name" required />
            <span class="form_error" *ngIf="name.touched && !name.valid">
                El nombre no es valido
            </span>
        </p>
        <p>
            <label for="description">Descripcion</label>
            <textarea name="description" #description="ngModel" [(ngModel)]="project.description" required ></textarea>
            <span class="form_error" *ngIf="description.touched && !description.valid">
                La descripcion es obligatoria
            </span>
        </p>
        <p>
            <label for="category">Categoria</label>
            <input type="text" name="category" #category="ngModel" [(ngModel)]="project.category" required />
            <span class="form_error" *ngIf="category.touched && !category.valid">
                La categoria no es valida
            </span>
        </p>
        <p>
            <label for="year">Año de lanzamiento</label>
            <input type="number" name="year" #year="ngModel" [(ngModel)]="project.year" required />
            <span class="form_error" *ngIf="year.touched && !year.valid">
                El año no es valido
            </span>
        </p>
        <p>
            <label for="langs">Lenguajes utilizados</label>
            <input type="text" name="langs" #langs="ngModel" [(ngModel)]="project.langs" required />
            <span class="form_error" *ngIf="langs.touched && !langs.valid">
                Los lenguajes no son validos
            </span>
        </p>
        <p>
            <label for="image">Imagen del proyecto</label>
            <span class="image" *ngIf="project.image" style="float:none" >
                <img src="{{url+'get-image/'+project.image}}" style="width:100px">
            </span><br>
            <input type="file" name="image" placeholder="Subir imagen" (change)="fileChangeEvent($event)"/>
        </p>

        <input type="submit" value="Enviar" [disabled]="!projectForm.form.valid"/>
        
    </form>
</div>